html, body{
  margin: 0;
  height: 100%;
  width: 100%;
/*  padding-top: 70em;*/
  background-image: url('https://i.imgur.com/7DqjNpU.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input[type=file] {
  display: none;
}

#plant1{
  padding-top: 56em;
  padding-left: 20em;
  position: absolute;
  display: none;
  z-index: 1;
}

#plant1 img{
  width: 6em;
}

#plant2{
  padding-top: 48em;
  padding-left: 37em;
  position: absolute;
  display: none;
  z-index: 2;
}

#plant2 img{
  width: 4.1em;
}


#plant3{
  padding-top: 61em;
  padding-left: 29em;
  position: absolute;
  display: none;
  z-index: 3;
}

#plant3 img{
  width: 6em;
}

#plant4{
  padding-top: 44em;
  padding-left: 23.5em;
  position: absolute;
  display: none;
  z-index: 0;
}

#plant4 img{
  width: 7em;
}

#plant5{
  padding-top: 56em;
  padding-left: 32em;
  position: absolute;
  display: none;
  z-index: 0;
}

#plant5 img{
  width: 5.5em;
}

#flower1{
  padding-top: 59em;
  padding-left: 24em;
  position: absolute;
  display: none;
  z-index: 1;
}

#flower1 img{
  width: 5em;
}

#flower2{
  padding-top: 59em;
  padding-left: 34em;
  position: absolute;
  display: none;
  z-index: 3;
}

#flower2 img{
  width: 3.4em;
}

#flower3{
  padding-top: 57em;
  padding-left: 37em;
  position: absolute;
  display: none;
  z-index: 4;
}

#flower3 img{
  width: 5em;
}

#flower4{
  padding-top: 55em;
  padding-left: 22.5em;
  position: absolute;
  display: none;
  z-index: 0;
}

#flower4 img{
  width: 3em;
}

#flower5{
  padding-top: 57.5em;
  padding-left: 27.5em;
  position: absolute;
  display: none;
  z-index: .5;
}

#flower5 img{
  width: 5em;
}

.content{
  padding-top: 68em;
}

.title{
  width: 100%;
  text-align: center;
}

.title h1 {
  font-size: 3em;
  font-weight: bolder;
  margin-bottom: 10px;
  font-family: avenir;
}

.title p{
 font-size: 2em;
 margin-top: 10px;
 margin-bottom: 10px;
 color: #888888;
 font-family: avenir;
}

.tips{
  border: none;
  background: none;
  font-size: 2em;
  color: #555555;
  font-family: avenir;
}

.collectButton{
  display: flex;
  justify-content: center;
  margin-top: 7%;
  font-family: avenir;
}

.file-upload{
  width: 36%;
  height: 110px;
  background: #83c582;
  display: flex;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2.5em;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 55px;
}


#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.85);
  overflow: scroll;
  z-index: 20;
}

#overlay img{
  width: 80%;
  height: auto;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cancle{
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;
  justify-content: left;
  color: white;
  font-size: 2em;
  font-family: avenir;
}

.confirm{
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#overlay button{
  font-size: 2em;
  font-weight: bold;
  font-family: avenir;
  border: none;
  background: white;
  height: 90px;
  width: 30%;
  border-radius: 45px;
  color: #333333;
}

.loading{
  display: flex;
  justify-content: center;
  color: #dddddd;
  font-family: avenir;
  font-size: 2.2em;
  text-align: center;
}

#loadingPrompt{
  margin-top: 1em;
  margin-bottom: 0;
}

#result{
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
}

#plant{
  font-size: 2.2em;
  font-family: avenir;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: .5em;
}

.collectionResult{
  font-size: 2.2em;
  font-family: avenir;
  margin-top: 0;
  margin-bottom: 1.2em;
  width: 100%;
  height: auto;
}

.collectionResult p{
  margin-top: 0;
  margin-bottom: 0;
}

#gotIt{
  display: none;
  color: white;
  width: 30%;
  height: 90px;
  border-radius: 45px;
}

.gotItBtn{
  display: flex;
  justify-content: center;
}
