html, body{
  margin: 0;
  height: 100%;
  width: 100%;
}

input[type=file] {
  display: none;
}

.jar img {
width: 40%;
height: auto;
margin-left: 10%;
}

.jar{
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 15%;
}

.title{
  margin-top: 10%;
  text-align: center;
}

.title h1 {
  font-size: 3em;
  font-weight: bolder;
  margin-bottom: 10px;
  font-family: avenir;
}

.title p{
 font-size: 2em;
 margin-top: 10px;
 margin-bottom: 10px;
 color: #888888;
 font-family: avenir;
}

.tips{
  border: none;
  background: none;
  font-size: 2em;
  color: #555555;
  font-family: avenir;
}

.collectButton{
  display: flex;
  justify-content: center;
  margin-top: 7%;
  font-family: avenir;
}

.file-upload{
  width: 36%;
  height: 110px;
  background: #83c582;
  display: flex;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2.5em;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 55px;
}


#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.imageFile{
  width: 100%;
  display: flex;
  justify-content: center;
}

#overlay img{
  width: 80%;
  height: auto;
  padding-top: 30px;
}

.cancle{
  margin-left: 10%;
  margin-top: 20%;
  width: 80%;
  justify-content: left;
  color: white;
  font-size: 2em;
  font-family: avenir;
}

.confirm{
  width: auto;
  display: flex;
  justify-content: center;
  /*margin-top: 8%;*/
}

#overlay button{
  font-size: 2em;
  font-weight: bold;
  font-family: avenir;
  border: none;
  background: white;
  height: 90px;
  width: 30%;
  border-radius: 45px;
  color: #333333;
}

.loading{
  display: flex;
  justify-content: center;
  color: #dddddd;
  font-family: avenir;
  font-size: 2em;
  text-align: center;
}

#loadingPrompt{
  margin-top: 1em;
  margin-bottom: 0;
}

#result{
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
}

#plant{
  font-size: 2.5em;
  font-family: avenir;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: .5em;
}

.collectionResult{
  font-size: 2.2em;
  font-family: avenir;
  margin-top: 0;
  margin-bottom: 1.2em;
  width: 100%;
  height: auto;
}

.collectionResult p{
  margin-top: 0;
  margin-bottom: 0;
}

#gotIt{
  display: none;
  color: white;
  width: 30%;
  height: 90px;
  border-radius: 45px;
}

.gotItBtn{
  display: flex;
  justify-content: center;
}
